html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Major Mono Display", monospace;
}

#content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  #message {
    font-size: 5vh;
    text-align: center;
    width: 100%;
  }
  #link {
  }
}
